 <div class="card formCard">
    <div class="card-body">
      <h6 class="card-title">Enter Employee Details</h6>
      <form [formGroup] = "employeeForm" (ngSubmit) = "onSave()">
          <!-- Row 1 -->
          <div class="form-row">
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend ">
                  <span class="input-group-text " id="">First Name</span>
                </div>
                <input type="text" class="form-control" formControlName ="firstName">
                <span class="col-md-12 help-block" *ngIf="!employeeForm.get('firstName').valid && employeeForm.get('firstName').touched">
                 Enter a valid name
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Last Name</span>
                </div>
                <input type="text" class="form-control" formControlName ="lastName">
                <span class="col-md-12 help-block" *ngIf="!employeeForm.get('lastName').valid && employeeForm.get('lastName').touched">
                  Enter a valid name
                </span>
              </div>
            </div>
          </div>
          <!-- Row 2 -->
          <div class="form-row">
            <div class="input-group col-md-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Email</span>
              </div>
              <input type="text" class="form-control" formControlName ="email">
              <span class="col-md-12 help-block" *ngIf="!employeeForm.get('email').valid && employeeForm.get('email').touched">
                <span *ngIf="employeeForm.get('email').errors['emailIsForbidden']; else elseTemplate">Email ID already exist!</span>  
                    <ng-template #elseTemplate>Enter a valid email</ng-template>  
              </span>
            </div>
            <div class="input-group col-md-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Date of Birth</span>
              </div>
              <input type="text" class="form-control" formControlName ="dob">
              <span class="col-md-12 help-block" *ngIf="!employeeForm.get('dob').valid && employeeForm.get('dob').touched">
             Enter a valid date of birth (Format:DD-MM-YYYY)
              </span>
            </div>
          </div>
        <!-- Buttons -->
          <div class = "row float-right">
          <button class="btn btn-primary" type="submit" [disabled]="!(employeeForm.valid && employeeForm.touched)" (click)="onSave()">
              <clr-icon shape="floppy"></clr-icon>
              Save
          </button>
          <button class="btn btn-primary" type = "button" (click) = "onReset()">
              <clr-icon shape="refresh"></clr-icon>
              Reset
          </button>
          <button class="btn btn-primary" type="button" (click) = "onExit()">
            <clr-icon shape="times"></clr-icon>
            Exit
        </button>
      </div>
      </form>
    </div>
  </div>
  