.btn {
    font-size: 12px;
    margin-bottom: 6px;
    margin-right: 0px;
    height: 40px;
 }

 .row-style{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: space-around;
}

.col-md-6 {
    padding: 0px;
}

input {
     height: 40px;
     font-size: 15px;
     margin-top: 6px;
     margin-bottom: 6px;
 }




@media (max-width: 767px) {
    .width-fill {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 767px;
    }
}
