<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">CRUD</span>
</nav>
<div class="container"> 
      <!-- Top Buttons -->     
      <div class="row-style">
        <div class="col-md-6">
          <input type="text" style="max-width: 350px;" [(ngModel)]="this._constantsService.searchString"
          class="form-control width-fill" 
          placeholder="Search Here" 
          aria-label="Example text with button addon" 
          aria-describedby="button-addon1">     
        </div >
      
        <div class="row-style col-md-6">
          <button type="button" class="btn btn-primary width-fill ml-auto" (click)=onAddNew()>Add New</button>
        </div>
      </div>
      
      <div *ngIf = "_constantsService.showCard === 'add'" >
        
        <app-form-view></app-form-view>  

      </div>

      <app-table-view></app-table-view>
          
</div>



    

