<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">CRUD</span>
</nav>
<div class="container"> 
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-primary btn-sm" type="button" id="button-addon1">Search</button>
          </div>
          <input type="text" 
          class="form-control input-style-1" 
          placeholder="Enter Here" 
          aria-label="Example text with button addon" 
          aria-describedby="button-addon1">     
        </div>
        <button type="button" class="btn btn-primary btn-sm float-right">Add New</button>
      </div>
      
  <table class="table table-striped table-style-1">
      <thead>
        <tr>
          <th scope="col" class="th-style-1">#</th>
          <th scope="col" class="th-style-1">First</th>
          <th scope="col" class="th-style-1">Last</th>
          <th scope="col" class="th-style-1">Email</th>
          <th scope="col" class="th-style-1">DOB</th>
          <th scope="col" class="th-style-1 td-style-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-style-2">1</td>
          <td class="td-style-2">Mark</td>
          <td class="td-style-2">Otto</td>
          <td class="td-style-2">@mdo</td>
          <td class="td-style-2">@mdo</td>
          <td class="td-style-1">
            <div>
              <a class="btn anchor-style-1"><i class="fa fa-pencil" ></i></a>
              <a class="btn anchor-style-1"><i class="fa fa-trash" ></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-style-2">2</td>
          <td class="td-style-2">Jacob</td>
          <td class="td-style-2">Thornton</td>
          <td class="td-style-2">@fat</td>
          <td class="td-style-2">@mdo</td>
          <td class="td-style-1">
            <div>
              <a class="btn anchor-style-1"><i class="fa fa-pencil" ></i></a>
              <a class="btn anchor-style-1"><i class="fa fa-trash" ></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-style-2">3</td>
          <td class="td-style-2">Larry</td>
          <td class="td-style-2">the Bird</td>
          <td class="td-style-2">@twitter</td>
          <td class="td-style-2">@mdo</td>
          <td class="td-style-1">
            <div>
              <a class="btn anchor-style-1"><i class="fa fa-pencil" ></i></a>
              <a class="btn anchor-style-1"><i class="fa fa-trash" ></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>